<h1> <%= @article.title %> </h1>

<h2> <%= @article.body %> </h2>
<ul>
    <li><%= link_to 'Back', root_path %></li>
    <li><%= link_to 'Destroy', article_path(@article),
        method: :delete,
        data: { confirm: 'Are you sure?' }%></li>
    <li><%= link_to 'Edit', edit_article_path(@article) %></li>
</ul>